* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(234, 241, 239);
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(39, 39, 39);
  text-align: center;
  margin: 40px;
  font-size: 2rem;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  border-radius: 50%;
  border: none;
  margin: 10px;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
    border: 1px solid rgb(32, 32, 32);
}
.green {
  background-color: rgb(10, 156, 10);
}
.red {
  background-color: rgb(221, 19, 19);
}
.pink {
  background-color: rgb(255, 94, 121);
}
.blue {
  background-color: rgb(0, 0, 255);
}
.gray {
  background-color: rgb(161, 161, 161);
}
.yellow {
  background-color: rgb(255, 255, 0);
}
.btn:hover {
  opacity: 0.7;
}

